/* Merci de ranger les objets par types avec des annotations */

/* Titres */

header.Header img.Logo{
    padding-left: 125px;
	
}

header.Header p.Titre{
    padding-left: 230px;
    padding-bottom: 20px;;

}