/* Merci de ranger les objets par types avec des annotations */

/* Titres */


html{
    background: url(../img/Background1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
}
.infos{
    background: url(../img/W9H0fx.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
}

.news{
    background: url(../img/background3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
}

body{
    margin: 0 auto;
    display: flex;
}

/* Naviguation */
.menu-nav ul li{
    list-style-type: none;
}

.menu-nav ul li.btn a{
    text-decoration: none;
    color: white;
}

/* Div */
.left-panel{
    width: 200px;
    /*padding-bottom: 20px;
    padding-bottom: 5px;*/
    background-color: #051626;
    /*width: 10em;*/
}
.btn{
    width: 150px;
    /*padding-bottom: 20px;
    padding-bottom: 5px;*/
    background-color: #051626;
    /*width: 10em;*/
}

.leftbox{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 25px;
    color: white;
}


.contour{
    display: flex;
}
.Logo{
    padding-left: 20px;
}

.titre {
    background-color: #051626;
    width: 1750px;
    height: 160px;
    font-size: 160px;
    color: white;
}

.texte{
    font-size: 25px;
    color: white;
}

.texte2{
    font-size: 25px;
    color: white;
}

/* img */

div.connexion{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    margin-bottom: 50px;
    width: 15em;
    border-radius: 20px;
    color: white;
    position: absolute;
    margin-top:200px;
    margin-left:500px;
}
div.inscription{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    margin-bottom: 50px;
    width: 15em;
    border-radius: 20px;
    position: absolute;
    margin-top:200px;
    margin-left:800px;
    color: white;
}
input.email .pseudo .mdp .submit{
    border-radius: 5px;
}
h2.connection{
    position: absolute;
    margin-top:200px;
    margin-left:200px;
    color: white;
}
